<html>
    <head>
        <title>Duomo</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>Duomo di Milano</h1>
        <p>
            Il Duomo di Milano è una cattedrale gotica situata nel centro di Milano, in Italia.<br>
            È uno dei più grandi edifici di culto cristiani al mondo, con una superficie di oltre 11.000 metri quadrati e una capacità di accogliere fino a 40.000 persone.<br>
            La costruzione della cattedrale è iniziata nel 1386 e si è conclusa nel XIX secolo.<br>
            La sua facciata è caratterizzata da centinaia di guglie, statue e decorazioni, mentre l'interno ospita opere d'arte e tesori sacri.<br>
        </p>
    </div>
    </body>
</html>