<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>Galleria Vittorio Emanuele II</h1>
        <p>
            La Galleria Vittorio Emanuele II è un'importante attrazione turistica situata nel centro di Milano, in Italia.<br>
            Costruita negli anni '60 del XIX secolo, è una galleria commerciale coperta, caratterizzata da un'architettura in stile neoclassico e decorazioni lussuose.<br>
            È composta da due bracci che si incontrano in un grande atrio con una cupola di vetro e ferro battuto.<br>
        </p>
    </div>
    </body>
</html>