<html>
    <head>
        <title>Teatro alla Scala</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>Teatro alla Scala</h1>
        <p>
            Il Teatro alla Scala è uno dei più famosi teatri d'opera al mondo, situato nel centro di Milano, in Italia.<br>
            Inaugurato nel 1778, il teatro è stato ospite di molte importanti première e di spettacoli di numerosi artisti famosi.<br>
            La sua architettura in stile neoclassico presenta un'ampia scalinata d'ingresso, un'atrio elegante e un interno ornato di decorazioni lussuose.<br>
            La sala ha una capacità di circa 2.000 spettatori ed è famosa per la sua acustica perfetta.<br>
            Il Teatro alla Scala è uno dei simboli culturali più importanti d'Italia e attira visitatori da tutto il mondo.<br>
        </p>
    </div>
    </body>
</html>