<html>
    <head>
        <title>Castello Sforzesco</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>Castello Sforzesco</h1>
        <p>
            Il Castello Sforzesco è una fortezza medievale situata nel centro di Milano, in Italia.<br>
            Costruito nel XV secolo, è stato residenza di vari governanti, tra cui la famiglia Sforza e Leonardo da Vinci.<br>
            L'architettura del castello presenta un mix di stili che va dal gotico al rinascimentale.<br>
            Oggi il castello ospita diversi musei e collezioni d'arte, tra cui opere di artisti famosi come Michelangelo e Raffaello.<br>
            All'interno del complesso si trovano anche sale affrescate e cortili ornamentali.<br>
            Il Castello Sforzesco è uno dei luoghi storici più importanti di Milano ed è una popolare destinazione turistica.<br>
        </p>
    </div>
    </body>
</html>